/* Global Body Styles */
body {
  font-family: "Liter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-image: url('/images/md\ elec2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin */
}

/* Main Content Section */
main {
  width: 100%; /* Full width */
  max-width: 1200px; /* Limit max width for better readability */
  padding: 20px;
  color: rgb(21, 45, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; /* Ensure content is below the navbar */
}

/* Navbar Styles */
nav {
  background-color: #071178;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  
}

nav h1 {
  color: white;
  font-size: 1.5em;
  margin-right: auto;
  font-family: "Liter", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

nav a:hover {
  color: #f0a500;
}
